
body{
justify-content:center ;
align-items: center;
}
.input{
  padding: 10px;
  border:none
}
.in{
  padding: 30px;
}
.App{
  border-radius:30%;
  padding: 3%;
background-color: #F6F7C1;
top:30%;
left:30%;
border: 5px solid #E5FDD1;
position: absolute;
display: block;
}
.btn{
  background-color:burlywood;
  padding:3px;
  margin: 2px;
  border-radius: 4px;
}



.clear-btn{
  display: grid;
grid-template-rows: 20px;
grid-template-columns:80% 20%;
grid-template-areas:

  " clear c ";
  grid-gap: 9px;
}
#clear{
  grid-area: clear;
}
#c{
  grid-area: c;
}






.button{
display:grid;
grid-template-rows:20% 20% 20% 20% 20%;
grid-template-columns: 30% 30% 30% 10%;
grid-template-areas: 
"clear clear  c sign"
"num num num sign"
"num num num sign"
"num num num sign"
"zero zero dot equal"
;

grid: gap 9px;
}


#clear{
  grid-area: clear;
}
#c{
  grid-area: c;
}
#zero{
  grid-area: zero;
}
#dot{
  grid-area: dot;
}
#equal{
  grid-area: equal;
}






/* 
#clear
{
  grid-area: clear;
}
#c{
  grid-area: c;
}
#num{
  grid-area: num;
}
#sign{
  grid-area: sign;
} */


/* 
clear-btn{
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns:auto 50px;
} */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
